<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796671289476-0j9g02voa0h8rqs4sl4hkb5agd74la76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796671289476-0j9g02voa0h8rqs4sl4hkb5agd74la76</string>
	<key>API_KEY</key>
	<string>AIzaSyCQuB38M4a2SdU5LxFwHzjlGdjzxp_zFsU</string>
	<key>GCM_SENDER_ID</key>
	<string>796671289476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enhanceit.iChat</string>
	<key>PROJECT_ID</key>
	<string>ios-ichat</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-ichat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796671289476:ios:96528a3b9b645076dabad1</string>
</dict>
</plist>